body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #555;
}

a {
  text-decoration: none;
  color: #555;
}

li {
  list-style: none;
}

/* back-button
===================================================*/
#pageTop {
	position: fixed;
	bottom: 50px;
	right: 50px;
  z-index: 4;
}
.pageTop__link {
	background: #331c14;
	border-radius: 50%;
	display: block;
	position: relative;
	height: 70px;
	width: 70px;
}

.pageTop__link:before {
	content: '';
	border-top: solid 4px #fff;
	border-left: solid 4px #fff;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 14px;
	width: 14px;
}